@page "/"

<div class="row">

    <div class="col-6">
        <CodingSimplified.ToDoApplication.Pages.Components.ToDo HeaderName="Daily Task">
        </CodingSimplified.ToDoApplication.Pages.Components.ToDo>
    </div>

    <div class="col-6">
        <CodingSimplified.ToDoApplication.Pages.Components.ToDo HeaderName="Monthly Task">
        </CodingSimplified.ToDoApplication.Pages.Components.ToDo>
    </div>

</div>



